@model LMS.Models.Book
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Book Details</h2>
@using (Html.BeginForm("Book","Add"))
{
    <div class="form-group">
        @Html.LabelFor(b => b.Name)
        @Html.TextBoxFor(b => b.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Edition)
        @Html.TextBoxFor(b => b.Edition)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Catagory)
        @Html.TextBoxFor(b => b.Catagory)
    </div>
    <div class="form-group">
        <label>Author : </label>
        @Html.TextBoxFor(b => b.Author.Name)
    </div>
    <div class="form-group">
        <label>Publisher : </label>
        @Html.TextBoxFor(b => b.Publisher.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Price)
        @Html.TextBoxFor(b => b.Price)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

