@model IEnumerable<LMS.Models.Book>
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Books</h2>
<br />
<button type="button" class="btn btn-primary mt-3" onclick="location.href='@Url.Action("Book", "Add")'">Add Book</button>
<br />
<br />





<table id="book-table" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>Info</th>
            <th>Rent</th>
            <th>Delete</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var Book in Model)
        {
            <tr>
                <th> @Book.Name</th>
                <th> @Html.ActionLink("Info", "DisplayBook", "Search", new { id = Book.Id }, null)</th>
                @if (Book.Quantity != 0)
                {
                    <th> @Html.ActionLink("Rent", "Book", "Rent", new { id = Book.Id }, null)</th>
                }
                else
                {
                    <th> Out Of Stock </th>
                }
                <th> @Html.ActionLink("Delete", "DeleteBook", "Update", new { id = Book.Id }, null)</th>

            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#book-table").DataTable();
        })
    </script>
}




